{{- if not .Params.customOutro }}
<section class="container">
  <div class="row" id="download">
    {{ partialCached "announcements/plasma_download.html" . }}
    <article class="col-md">
      {{ partialCached "announcements/plasma_source_download.html" . }}
      {{ if not .Params.noinfo }}
      {{/* Needed for /announcements/megarelease/6/index.md */}}
      {{ if and (eq .File.TranslationBaseName "index") (in .File.Path "megarelease/6/") }}
      <a href="/info/plasma-6.0.0" class="learn-more">
        {{ i18n "source-info-page" }}
      </a>
      {{ else }}
      <a href="/info/plasma-{{ .File.TranslationBaseName }}" class="learn-more">
        {{ i18n "source-info-page" }}
      </a>
      {{ end }}
      {{ end }}
    </article>
  </div>

  {{ partialCached "announcements/plasma_feedback.html" . }}
  {{- end }}

  {{ partialCached "announcements/support_kde.html" . }}

  {{ partialCached "announcements/about_kde.html" . }}

  {{ partialCached "announcements/press_contacts.html" . }}
</section>
