// SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: MIT

.gear-section {
  a {
    color: var(--main-color);

    &:hover {
      text-decoration: underline;
    }
  }

  --bs-heading-color: white;
  color: white;

  &-more {
    color: var(--main-color);

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    h2, h3, .h5 {
      color: currentColor;
    }

    li {
      &::before {
        content: none !important;
      }
    }
  }
}

.colorful-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--main-heading-color);

  & > * {
    font-weight: bold;
  }
}

.blue {
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));
  --main-color: #B292FF;

  background: #1b091e;
}

.elisa {
  p, h3 {
    text-align: center;
  }
}

.tokodon {
  p {
    max-width: 900px;
  }
}

.donnorbox-container {
  position: relative;
  margin-top: -400px;
}
