{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1 class="display-1">
        {{ .Title }}
      </h1>
      <p class="h3">{{ .Description }}</p>
      <div class="d-flex gap-3 mb-5 mt-4 justify-content-center">
        <a href="{{ relLangURL "/community/donations" }}" class="btn btn-outline-light btn-lg">{{ i18n "fund-it" }}</a>
        <a href="https://community.kde.org/Get_Involved" class="btn btn-outline-light btn-lg">{{ i18n "get-involved" }}</a>
        <a href="{{ relLangURL "/community/whatiskde/" }}" class="btn btn-outline-light btn-lg ">{{ i18n "learn-more" }}</a>
      </div>
    </div>
  </div>

  <div class="position-relative">
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex" id="features-hero">
      {{ with .Params.logo }}
        <img src="{{ . }}" class="d-block mx-auto mt-auto" height="100" width="100" />
      {{ end }}
      {{ with .Params.video }}
        <video autoplay muted loop>
          <source src="{{ . }}">
        </video>
      {{ end }}
    </div>
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    </defs>
    </svg>
    <svg width="0" height="0">
  <defs>
  <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
  <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
  </clipPath>
  </defs>
  </svg>
  </div>
  {{ .Content }}
  <div class="container">
    <section class="components">
      {{ $pages := (.Site.GetPage "/for").RegularPagesRecursive }}
      {{- if ne .Site .Sites.Default }}
      {{ $pages = $pages | lang.Merge (index (.Site.GetPage "/for").AllTranslations 0).RegularPagesRecursive }}
      {{- end }}
      {{ range $pages }}
        <a href="{{ .RelPermalink }}" class="product product-{{ .File.TranslationBaseName }}">
            <div class="description">
              <h2>{{ .Title }}</h2>
              <p>{{ .Description | markdownify }}</p>
            </div>
        </a>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}
