{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img
          class="d-none d-lg-block"
          style="width: 100%; max-width: 1500px"
          alt=""
          src="/fundraisers/konqi-katie-donation.jpg"
        />
      </div>
      <div class="col-lg-4">
        <script
          src="https://donorbox.org/widget.js"
          paypalExpress="true"
        ></script>
        <div class="donorbox">
          <iframe
            style="border-radius: 8px"
            src="https://donorbox.org/embed/kde-become-a-member"
            name="donorbox"
            width="100%"
            height="600px"
            frameborder="0"
            scrolling="no"
            seamless="seamless"
          ></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
          <p>
            James North ⭐ Tony James ⭐ Grégoire Duvauchelle ⭐ Paul Elliott ⭐
            Paul Sadauskas ⭐ Angelos Skembris ⭐ Radek Nováček ⭐ Mike Dawson
            ⭐ Jens Churchill ⭐ Ammon Kent ⭐ Max R ⭐ Romain Fleurette ⭐
            Achim Königs ⭐ Andrey Melentyev ⭐ Mark Hiles ⭐ Jan Válek ⭐
            Edoardo Regni ⭐ Justus Tartz ⭐ Éric Gillet ⭐ Sacha Schutz ⭐
            Quentin Guyot ⭐ David Martinez ⭐ Sebastian Goth ⭐ Fabian Niepelt
            ⭐ Paul Riley ⭐ Ryein Goddard ⭐ Joost Cassee ⭐ Ondřej Vodáček ⭐
            Jacob Ludvigsen ⭐ Steve Willard ⭐ Lennart Kroll ⭐ Florian Stadler
            ⭐ Philipp Lohnes ⭐ Paulo Dias ⭐ Kormos Krisztián ⭐ Ethan Hussong
            ⭐ Sébastien Jaffre ⭐ Adam Szopa ⭐ Brian Marsh ⭐ Tim Blomme ⭐
            Jens Reimann ⭐ Timo Büttner ⭐ Christopher Clarke ⭐ Márton Lente
            ⭐ Harald Gall ⭐ Wesley Schroth ⭐ Thai Flowers ⭐ Andrei Ioachim
            ⭐ Rob Hasselbaum ⭐ Petr Tesarik ⭐ Galin Yordanov ⭐ Nils Martens
            ⭐ Dmitry Misharov ⭐ Batuhan Taskaya ⭐ Milton Hagler ⭐ David
            Chocholatý ⭐ Sergei Golimbievsky ⭐ Jon Stelly ⭐ Nostre NZ ⭐
            Rahul Ramesh ⭐ Nina Wanca ⭐ Aljosha Papsch ⭐ Dieter Rogiest ⭐
            Lukas Neubert ⭐ Jonas Gamao ⭐ Aaron Bockelie ⭐ Lorenzo Bicci ⭐
            Joshua Phelps ⭐ Jay Tuckey ⭐ Teemu Vartiainen ⭐ Dennis Schumann
            ⭐ Alistair Bain ⭐ Kevin Messer ⭐ Christian Gmeiner ⭐ Yves Soete
            ⭐ Petronio Coelho ⭐ Jeroen Tor ⭐ Kieren Roberts ⭐ David Gow ⭐
            zzidun bourbaki ⭐ Roger Granrud ⭐ Eduard Nikoleisen ⭐ Thomas
            Eckart ⭐ Moritz Niesen ⭐ Brandon Clark ⭐ Isaac Patton ⭐ Brett
            Hagen ⭐ Jonas Büttner ⭐ Mark Marsh ⭐ Mohammad Rawashdeh ⭐ Kjetil
            Fjellheim ⭐ Frédéric LAURENT ⭐ Andrew Rosenwinkel ⭐ Aaron Schif
            ⭐ Allen Hazen ⭐ Chris Niewiarowski ⭐ Justin Zobel ⭐ Ole
            Solbakken ⭐ Martín Libedinsky ⭐ Paul Fleischer ⭐ Jason Logue ⭐
            Zhangzhi Hu ⭐ Skye Van Valkenburgh ⭐ Gernot Schiller ⭐ Régis
            GUYOMARCH ⭐ Michael Stemle ⭐ Cameron Bosch ⭐ Chris Killingsworth
            ⭐ Lukas Kucerik ⭐ Xuanyu Yu ⭐ Severin Hamader ⭐ Albert Goncharov
            ⭐ Emil Larsson ⭐ Eddie Carswell ⭐ Mischa Zschokke-Gohl ⭐ Michel
            Filipe ⭐ Brian Aberts ⭐ Störm Poorun ⭐ Igor Stojkovic ⭐ Andriy
            Kushnir ⭐ Neal Gompa ⭐ Hunor Czaka ⭐ Tommy Beauclair-Mariotti ⭐
            Herbie Hopkins ⭐ Victor Castillo ⭐ Marcin Panic ⭐ Arthur Tadier
            ⭐ Brendan Foote ⭐ Björn Aili ⭐ Martin Beck ⭐ Andres Betts ⭐
            John Chufar ⭐ Luis Büchi ⭐ Dirk Holsopple ⭐ Yishu Wang ⭐ Jacopo
            Schiavon ⭐ Bjørnar Hausken ⭐ Daniel Olson ⭐ Yannic Schreiber ⭐
            Dennis Malmin ⭐ Stefan Neacsu ⭐ Pascal Mages ⭐ Ian Boll ⭐
            Étienne Pain ⭐ Christoph Dreier ⭐ Daniel Bagge ⭐ Philipp
            Slusallek ⭐ Sebastian Löw ⭐ Simon Österle ⭐ Dan Heneise ⭐ Riho
            Kalbus ⭐ Janis Bundschu ⭐ Dennis Körner ⭐ Michal Walach ⭐ Pablo
            Caballero ⭐ Semen Sobolev ⭐ Jérémy Friche ⭐ Stanislas Leduc ⭐
            Jonas Hucklenbroich ⭐ Mihail Morosan ⭐ Christian McHugh ⭐ Dmytro
            Nezhevenko ⭐ Amritpal Gill ⭐ Peter Permenter ⭐ Daniel Hurtado ⭐
            Jeff Cain ⭐ Kiril Vladimirov ⭐ Manuel Bödder ⭐ Tobias Brunner ⭐
            Leander Nachreiner ⭐ Will Butler ⭐ Norbert Spina ⭐ Travis Suel ⭐
            Samuel Allen ⭐ Björn Bauer ⭐ Raphael Pretot ⭐ Gerardus Franciscus
            Maria van Iersel ⭐ Davor Grubisa ⭐ Lukas Hannawald ⭐ edwin
            vervliet ⭐ Thibaud Franchetti ⭐ Byron Fröhlich ⭐ Stefan Hellwig
            ⭐ Billy Van Rooy ⭐ TIMOPHEY TSITAVETS ⭐ Peter Crasta ⭐ Long Vu
            ⭐ William Z ⭐ Frank Mankel ⭐ Angus Kelsey ⭐ Andrea Panontin ⭐
            Nicola Mingotti ⭐ Marián Polťák ⭐ Kolja Kauer ⭐ Zdenek Zikan ⭐
            Aleksei Liudskoi ⭐ Arne Keller ⭐ Ståle Helde ⭐ Piotr Cwieczkowski
            ⭐ Nathan Westerman ⭐ Lars Jose ⭐ Shayne Johnson ⭐ Cory Adkins ⭐
            Mario Loik ⭐ Erik Naprstek ⭐ Nathan Pennington ⭐ Christian
            Hofstede-Kuhn ⭐ Paul Birkholtz ⭐ Lasse Danegod ⭐ Brian Lemons ⭐
            Federico Dossena ⭐ Jarsto van Santen ⭐ Przemysław Romanik ⭐
            Alicja Michalska ⭐ Gregor Burgeff ⭐ Will Styler ⭐ David Döring ⭐
            Samuel Jordan Kleinman ⭐ Dave X ⭐ Cristian Le ⭐ Markus Banfi ⭐
            Paul Porubsky ⭐ Dylan Taylor ⭐ Arian Wichmann ⭐ Mitchel Bone ⭐
            Johannes Wolf ⭐ Łukasz Plich ⭐ Jason Seville ⭐ Simon Finlay ⭐
            Chris Davis ⭐ Olivier Morneau ⭐ Bruno Rocha ⭐ Thomas Karpiniec ⭐
            JIMI ROSS ⭐ Grider Li ⭐ Evan Chang ⭐ Niklas Kämper ⭐ Sebastian
            Turzanski ⭐ Wolfgang Kerschbaumer ⭐ Wouter Eerdekens ⭐ Tomás
            Duarte ⭐ Bentleigh Beugelaar ⭐ Mikko Syrjä ⭐ Vojtech Kuchar ⭐
            Alexander Sanderson ⭐ Ralf E ⭐ Jimmy Lindsey ⭐ Alexey Andreyev ⭐
            Ethan Li ⭐ Michel van Son ⭐ Martin Supan ⭐ Daan Boerlage ⭐
            Rodney Lorimor ⭐ Luciano Barea ⭐ Marco Julian Solanki ⭐ Joan
            Aluja Oraá ⭐ Jonatan Rosenius ⭐ Luis Alvarado ⭐ Denis Doria ⭐
            Ivan Nack ⭐ Michael Niehoff ⭐ Dirk Ziegelmeier ⭐ Matija Šuklje ⭐
            Piotr Gliźniewicz ⭐ Lizoblyud Lika ⭐ Titouan Fuchs ⭐ Max Buchholz
            ⭐ Dominik Lux ⭐ Christian Moesgaard ⭐ Lars Maier ⭐ Lenno Nagel
            ⭐ Christoffer Jansson ⭐ Philipp Reichmuth ⭐ Dominik Riedl ⭐
            Antonio Teixeira ⭐ Matthias Schade ⭐ Antti Luoma ⭐ Baptiste
            Rajaut ⭐ Zacharie Monnet ⭐ Vladimir Baskakov ⭐ Michael Alexsander
            ⭐ Nathan Wolf ⭐ Jure Repinc ⭐ Adrian Friedli ⭐ Marco Nelles ⭐
            Vojtěch Indrák ⭐ Christopher Mandlbaur ⭐ Ralf Hein ⭐ Sergi Navas
            ⭐ Nick Beaton ⭐ Conny Magnusson ⭐ Eve Carletti ⭐ Maarten Bijster
            ⭐ Peter Simonsson ⭐ Yann Nux ⭐ Zane Godden ⭐ John Huckle ⭐
            Valerio Pilo ⭐ OC Blanco ⭐ Mikołaj Świątek ⭐ Mateusz Brdoń ⭐
            François-Xavier Thomas ⭐ Marijo Mustač ⭐ Aurélien COUDERC ⭐
            Andreas Heinkelein ⭐ Nicolas Rojas ⭐ Michael Bolleininger ⭐
            Samuel Martin ⭐ Max Schwarz ⭐ Dominik Viskovic ⭐ Lee Courington
            ⭐ Pascal Schmidt ⭐ Boji Tony ⭐ Dyllan Kobal ⭐ Niclas Meick ⭐
            William Wojciechowski ⭐ Marcel Siggelsten ⭐ Costin-Tiberiu
            Vasilescu ⭐ Solomatin Vladimir ⭐ Lukas Skala ⭐ Rainier Ramos ⭐
            Carlos Gonzalez Cortes ⭐ Daniel Zalar ⭐ Lisardo Sobrino ⭐ AoNeko
            Yachiyo ⭐ Sebastian Paul ⭐ Alexander Reimelt ⭐ Stefan
            Zurucker-Burda ⭐ Noah Davis ⭐ Curtis Bullock ⭐ Steven Naumov ⭐
            Anthony Beninati ⭐ Willow Aran ⭐ Jim Crawford ⭐ Luis Garcia ⭐
            Bob Richter ⭐ Patrick David ⭐ Jaspal Chauhan ⭐ Douglas Shaw ⭐
            Regina Abendroth ⭐ Moritz Schulte ⭐ Artem Puzikov ⭐ Michael
            Brunner ⭐ Guruprasad L ⭐ Calin Cerghedean ⭐ Timothy Carr ⭐ Yoann
            LE TOUCHE ⭐ David Germain ⭐ Mikko Mensonen ⭐ Rob Hyndman ⭐
            Florian RICHER ⭐ Stephen Crocker ⭐ Wyatt Childers ⭐ Grzegorz
            Wierzowiecki ⭐ Guillaume GAY ⭐ Michael Winters ⭐ Alistair Francis
            ⭐ Tone Milazzo ⭐ Robert McCarter ⭐ Jeremy Winter ⭐ Loïc Bersier
            ⭐ Renārs Ceļapīters ⭐ Asim Shrestha ⭐ Kevin McCarthy ⭐ Bailey
            Hollis ⭐ Warren Krettek ⭐ Matthew Orr ⭐ Henri Michael ⭐ Stephen
            Rider ⭐ Jeroen Huijsman ⭐ Klaus Wagner ⭐ Akseli Lahtinen ⭐
            Alejandro Muñoz Fernández ⭐ D Ennis ⭐ Eric NGUYEN ⭐ Christoph
            Vollmer ⭐ Joey Eamigh ⭐ Jarkko Torvinen ⭐ Leif-Jöran Olsson ⭐
            Alessio Adamo ⭐ Jan Braun ⭐ Matthew Henry ⭐ Harry A ⭐ Linda
            Polman ⭐ Achilleas Koutsou ⭐ Samwise Hansen ⭐ Hendrik Richter ⭐
            Steffen Jasper ⭐ Vincent Wilms ⭐ Corey Schroeder ⭐ George
            Pchelkin ⭐ Lucas Ji ⭐ Berker Şal ⭐ 昱愷 黃 ⭐ Bernie Innocenti ⭐
            Jeffrey Revock ⭐ Petri Koskimaa ⭐ Richard Acton ⭐ Mateusz
            Dytkowski ⭐ Fco Javier Bolívar ⭐ Alexander Schmitt ⭐ Denis Jovic
            ⭐ Sébastien Monassa ⭐ Blair Thiessen ⭐ Alma Gottlieb ⭐ Julian
            Raschke ⭐ Torsten Fratzke ⭐ Batuhan Cinar ⭐ Alexander Verweinen
            ⭐ Richard BEOLET ⭐ Moritz Lammerich ⭐ Fred Dickens ⭐ Matheus
            Ferreira Messias Guedes ⭐ Malin Stanescu ⭐ Μιχάλης Αντωνόπουλος ⭐
            Pjol . ⭐ Matt Milliman ⭐ Aroun Clément Baudouin-van Os ⭐ Trey
            Boyer ⭐ Anael González Paz ⭐ Andrija Jovanovic ⭐ Yu Te Wang ⭐
            Julio Moya ⭐ Jens Erdmann ⭐ Andrew Keenan Richardson ⭐ Patrick
            Nagel ⭐ Markus Ebner ⭐ John Kizer ⭐ Ismar Kunic ⭐ Ryan Chambers
            ⭐ Benjamin Tzschoppe ⭐ Tubo Shi ⭐ Spencer Sawyer ⭐ Alexandre
            BROUET ⭐ Nicolai Manique ⭐ Mustafa Muhammad ⭐ Daniel Avilés
            Hurtado ⭐ Tapio Metsälä ⭐ Brandon Jones ⭐ Nikita Malgin ⭐ Logan
            Rogers-Follis ⭐ Julien Enselme ⭐ Julius Binder ⭐ Alishams Hassam
            ⭐ Johann Jacobsohn ⭐ Paxriel Pax ⭐ Alberto Bec ⭐ Diego Saavedra
            Aguirre ⭐ Marko Hehl ⭐ Sam Smucny ⭐ Matthias Born ⭐ MD RIDOWAN
            ⭐ Jason A Holland ⭐ harry loh ⭐ ali xyz ⭐ Thomas ROBIN ⭐ Paul
            Merryfellow ⭐ Luke Renaud ⭐ Sergio Rodríguez Sansano ⭐ Frailing
            Sosa ⭐ Muthanna K. ⭐ Sahan Fernando ⭐ Lauren Howe ⭐ Nicola
            Jelmorini ⭐ Ján Trenčanský ⭐ May Doušak ⭐ Reid Wiggins ⭐ Michael
            Schaffner ⭐ Andrei Zhatkin ⭐ Nikolai Eugen Sandvik ⭐ Florian
            Edelmann ⭐ Sandy F ⭐ Côme Allart ⭐ Michael Meister ⭐ Rhys Jones
            ⭐ Roberto Michán Sánchez ⭐ Ami Chayun ⭐ Burgess Chang ⭐ Szymon
            Łągiewka ⭐ Lee Seymour ⭐ Bernhard Breinbauer ⭐ Laust Lund
            Kristensen ⭐ Karl Ove Hufthammer ⭐ John McKinney ⭐ Julian Braha
            ⭐ Daniel Lloyd-Miller ⭐ Bel Lord-Williams ⭐ Robert Riemann ⭐
            Hennie Marais ⭐ Jaroslav Reznik ⭐ Gerhard Dittes ⭐ Florentin Rack
            ⭐ Klemen Košir ⭐ Benjamin Terrier ⭐ Jakub Judas ⭐ Iulian Baciu
            ⭐ Jasmijn Knoope ⭐ Andrea Scartazza ⭐ Jacob Perron ⭐ sergei
            pavlov ⭐ Flori G ⭐ Kim Hayo ⭐ Jan De Luyck ⭐ Stephane Perrin ⭐
            David Roth ⭐ Andrew Munkres ⭐ Dennis Zellner ⭐ Michal Hlaváč ⭐
            Sander Smid-Merlijn ⭐ Jan Iversen ⭐ Valentin Petzel ⭐ Tamas
            Kornman ⭐ Florian Klamer ⭐ Samuel Pelz ⭐ Linghai Yan ⭐ bill
            morin ⭐ Julian Borrero ⭐ Andre Ramnitz ⭐ Paul McAuley ⭐ Anthony
            (anthr76) Rabbito ⭐ David Walluscheck ⭐ Teague Millette ⭐ Alan
            Gresly ⭐ Linus Karl ⭐ Samega 7Cattac ⭐ Teodor Calin Sirbu ⭐
            Cornelius Kluge ⭐ Dima T ⭐ Mukilan Thiyagarajan ⭐ Witold
            Sosnowski ⭐ Zach B ⭐ Coty Ternes ⭐ Iain Cuthbertson ⭐ Bryan
            Zaffino ⭐ Gerbrand van Dieyen ⭐ Thomas Ludwig ⭐ Pierre van
            Niekerk ⭐ Robert Wolniak ⭐ Andy Meier ⭐ Dougie Beney ⭐ Jakob
            Rath ⭐ Kai-Uwe Uhlitzsch ⭐ Simon Hötten ⭐ Mehrad Mahmoudian ⭐
            Catalina Rosca ⭐ Marco Götze ⭐ Merry Mello ⭐ Simon Berz ⭐ Łukasz
            Konieczny ⭐ Srikar Gottipati ⭐ Sebastian Krönert ⭐ Nathaniel
            Housman ⭐ Marius Hergel ⭐ Community Compute LLC ⭐ Jordi Ferrando
            ⭐ André Matos ⭐ Alexander Gurenko ⭐ Julian Wefers ⭐ Justin
            Geigley ⭐ Christoph Singer ⭐ Gabriel Morell ⭐ Jacob Becker ⭐
            R.A. Bijl ⭐ Maxime Bernard ⭐ Robin Slot ⭐ Jennifer Radtke ⭐
            Andreas Paul ⭐ Vincent Roach ⭐ Rebecca Müller ⭐ Dino Čobo ⭐
            Herbert Feiler ⭐ Gabriel Malo ⭐ Lino Moser ⭐ Martin Bednar ⭐
            Elijah Helms ⭐ Marcos Gutiérrez Alonso ⭐ Mateusz Albecki ⭐
            Michael Lelli ⭐ scaine uk ⭐ Marcus Harrison ⭐ Techin Eamrurksiri
            ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Miku Hatsune ⭐ Peter König
            ⭐ Milas Bowman ⭐ Quentin Stuchlik ⭐ Peter Strick ⭐ Robert Levine
            ⭐ Artur Pieniążek ⭐ Xuetian Weng ⭐ Samir Nassar ⭐ Shingo Ishida
            ⭐ your mom ⭐ Nicola Feltrin ⭐ Markus Meier ⭐ Dave Lewis ⭐ Mikle
            Kerim ⭐ Mark Woltman ⭐ Tom Schwarz ⭐ Steven Barrett ⭐ Jack Case
            ⭐ Tim van Osch ⭐ Rob Goris ⭐ Monica Ayhens-Madon ⭐ Michael
            Singer ⭐ Christian Hartmann ⭐ Ingo Klöcker ⭐ Nick Severino ⭐
            Antoni Aloy Torrens ⭐ Paul Worrall ⭐ Henning Sextro ⭐ Jed Baldwin
            ⭐ Felix Knecht ⭐ Sebastian Fohler ⭐ Jörg große Schlarmann ⭐
            Vincent Delor ⭐ Owen Sessiecq ⭐ Lukas Langrock ⭐ Malte Jürgens ⭐
            Francesco Sardara ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Tasuku
            Suzuki ⭐ Benjamin Xiao ⭐ Dennis Dalstrøm ⭐ Adam Dymitruk ⭐ Ryan
            McCullough ⭐ Odin Vex ⭐ Benny Fields ⭐ Martín Cigorraga ⭐
            Chrismettal Binary-6 ⭐ Alexander Ypema ⭐ Dmitry Sobolev ⭐ Matthew
            Cazaly ⭐ Jacob Childersmith ⭐ James Fryman ⭐ Shuyuan Liu ⭐
            Markus Nagel ⭐ Bart Otten ⭐ José Couto ⭐ Arjan van Griethuijsen
            ⭐ Titouan Forgeard ⭐ Alexey Toklovich ⭐ Cody Harrison ⭐ Jim Helm
            ⭐ Karl Quinsland ⭐ Rocky Cardwell ⭐ Ulrich Schreiner ⭐ Peter
            Nunn ⭐ ADAM K BIERMAN ⭐ Alejandro Cholaquidis ⭐ Kylie Leach ⭐
            Patrick Gianelli ⭐ Cass Midkiff ⭐ Dean Bradley ⭐ Rodrigo Lourenço
            ⭐ Ramón Cahenzli ⭐ bartosz bialek ⭐ Carl Schwan ⭐ Ivan Sabourin
            ⭐ Florian Dittmer ⭐ Huw McNamara ⭐ Achim Bohnet ⭐ E. Mau. ⭐
            Christoph Hümbert ⭐ Stewart Webb ⭐ Petr Kadlec ⭐ Àlex Magaz Graça
            ⭐ Ivo Marciniak ⭐ Jeremy Linton ⭐ Arthur Galiullin ⭐ Alonso
            Mendoza ⭐ Nathan Misner ⭐ Matthew Brunelle ⭐ Etienne Prud'homme
            ⭐ Marcel Pierre Simon ⭐ Shawn Dunn ⭐ Linus Fell ⭐ Jad El Kik ⭐
            André Barata ⭐ Zhaosi Qu ⭐ Joshua Mohr ⭐ ILIOPOULOS IOANNIS ⭐
            Jonas Mutke ⭐ Moritz Füssel ⭐ Jan Wiele ⭐ Keelan Jones ⭐ Gaurav
            Dasharathe ⭐ Daniel Noga ⭐ Archie Lamb ⭐ Nicholas Harper ⭐ Sarat
            Chandra ⭐ Diego Miguel Lozano ⭐ Nate Coffey ⭐ Aman Chhabra ⭐
            Christian Strebel ⭐ Kristian Kriehl ⭐ Gleb Sinyavskiy ⭐ Florian
            Dazinger ⭐ Melissa Autumn ⭐ Tristan Remy ⭐ Jonathan Verner ⭐
            José Guardado ⭐ Chad McCullough ⭐ Oliver Rasche ⭐ snow flurry ⭐
            Zoran Dimovski ⭐ Marcin Mikołajczak ⭐ Helge Bahmann ⭐ Emanuele
            Cannizzaro
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
