{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "yearend2024_title" | safeHTML }}</h1>
        {{ .Content }}
        <img class="bluefriday-image d-none d-lg-block" alt="" class="center" src="/fundraisers/yearend2024/konqie-bluefriday.png">
      </div>
      <div class="col-lg-4">
        <img src="/fundraisers/yearend2024/konqi-katie-donation.jpg" alt="" class="kde-logo-rotate d-none d-lg-block" />
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <iframe class="donnorbox" src="https://donorbox.org/embed/kde-community" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
      </div>
    </div>
  </div>
</main>
{{ end }}
