{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Title }}</h1>

  {{ $major := index (split .Params.version ".") 0 }}

  {{ $frameworksAnnc := .Params.custom_annc | default (print "frameworks/6/" .Params.version) }}
  <p>For new features, bugfixes and changes read the <a href="/announcements/{{ $frameworksAnnc }}">KDE Frameworks {{ .Params.version }} announcement</a>.</p>

  {{ if .Params.signer }}
    <p>
      The tarballs have been signed by {{ .Params.signer }} <a href="/info/kde-frameworks-signing-keys.pgp">{{ .Params.signing_fingerprint }}</a>.
    </p>
  {{ end }}


  <h4><a name="source">Download Source Code</a></h4>
  <p>
    The complete source code for KDE Frameworks {{ .Params.version }} is available for download:
  </p>

  {{ readFile (printf "%s%s%s%s" .File.Dir "sources/source-kf-" .Params.version ".html") | safeHTML }}

  {{ $page := . }}
  {{ with .Params.patch_level }}
  <h5>Patch-level releases</h5>
  {{ range . }}
  <p><b>{{ . }}</b></p>
  {{ readFile (printf "%s%s%s%s" $page.File.Dir "sources/source-kf-" . ".html") | safeHTML }}
  {{ end }}
  {{ end }}
</main>
{{ end }}
