{{ define "head-import" }}
  <link href="https://cdn.kde.org/breeze-icons/icons.css" />
{{ end }}
{{ define "main" }}
<main class="releaseAnnouncment">
  <div class="text-center py-5 header-plasma">

    <div class="container">
      <h1 class="h2">{{ .Params.title }}</h1>
      <h2 class="h1">{{ .Params.subtitle }}</h2>
      <p class="h5 mx-auto text-center mw-600">{{ .Params.description }}</p>
      <p class="text-center">{{ partial "i18n_date.html" . }}</p>
    </div>
    <div class="laptop-with-overlay d-block mt-5 mb-3 mx-auto w-100 mw-1k">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="empty laptop with an overlay" width=2000 height=1220>
      <div class="laptop-overlay">
        <picture>
            <img class="img-fluid" src="/announcements/plasma/6/6.3.0/fullscreen_with_apps.png" alt="Plasma" />
        </picture>
      </div>
    </div>
  </div>

  {{ .Content }}

  {{ partial "announcements/plasma_footer.html" . }}
</main>
{{ end }}
