{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<section class="section-blue py-1">
  <div class="container">
    <h2>{{ $.Page.Params.highlights.title }}</h2>
    <div class="highlight-grid">
    {{- range $.Page.Params.highlights.items }}
      <div{{ with .hl_class }} class="{{ . }}"{{ end }}>
        {{- $options := merge .hl_video (dict "controls" "controls") }}
        {{- partial "video.html" $options -}}
      </div>
      <div{{ with .hl_class }} class="{{ . }}-desc"{{ end }}>
        <h3 class="text-center mt-1 mb-3">{{ .header }}</h3>
        <p class="text-center">{{ .text }}</p>
      </div>
    {{- end }}
    </div>
  </div>
</section> 
